<div class="p-5" style="background-color:lightyellow">
    <div class="container py-5">
        <h1 class="text-body-emphasis">Alışveriş Sitesi</h1>
        <p class="col-lg-8 mx-auto lead text-danger fw-bold">
            En güzel ürünler, en uygun fiyatlara...
        </p>
    </div>
</div>